/* CSS Variables */

:root{
  /* Var Colors */
  --color_base: rgb(102, 102, 255);
  --color_oscuro: rgba(0, 0, 102, 1);
  --color_claro: rgba(153, 153, 255, 1);
}

/* Footer Overall Style */

footer {
  width: 100%;

  position: fixed;
  bottom: 0;

  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

footer p {margin: 0px;}

/* ---------- Mini Nav ---------- */

.div_miniNav {
  --height_miniNav: 24px;

  height: 24px;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  background-color: var(--color_claro);

  text-align: center;
  text-transform: capitalize;
  font-size: 12px;
}

/* Centrando el Texto y el Nav */

.div_miniNav p {
  width: 20%;

  margin-left: 25%;
  padding: 5px 0px;

  float: left;
}

.div_miniNav nav {
  height: inherit;
  width: 30%;

  margin-right: 25%;

  float: right;
}

/* Iconos & Links */

.div_miniNav a {
  height: inherit;

  margin: 0px 4px;
  padding: 5px 0px;

  color: white;
  text-decoration: none;
}

.div_miniNav a:hover {
  border: 1px solid var(--color_oscuro);

  color: var(--color_oscuro);
  text-decoration: underline;
  text-decoration-color: var(--color_oscuro);
}

.div_miniNav .icono {
  position: relative;
  top: 4px;
  bottom: 4px;
}

/* ---------- Content ---------- */

.content {background-color: var(--color_oscuro);}

/* ---------- School's Info ---------- */

/* ---------- Copyright --------- */

.div_copyright {
  --fondo_copy: rgb(30, 30, 30);
  --copy_grey: rgba(95, 95, 95, 0.4);

  height: 20px;

  text-align: center;

  border-top: 2px solid var(--copy_grey);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  background-color: var(--fondo_copy);

}


.div_copyright p, .div_copyright a {font-size: 14px;}

/* Texto Copyright */

.div_copyright .text_copy {
  height: 100%;
  width: 48%;

  margin-left: 1%;
  border-right: 2px dashed var(--copy_grey);
  border-left: 2px dashed var(--copy_grey);

  float: left;
}

/* Nav Copyright */

.div_copyright .contact {
  height: 100%;
  width: 48%;

  margin-right: 1%;
  border-left: 2px dashed var(--copy_grey);
  border-right: 2px dashed var(--copy_grey);

  float: right;
}

.div_copyright .contact a {
  color:white;
  text-decoration: none;
}

.div_copyright .contact a:hover {
  border: 1px solid var(--color_base);

  color: var(--color_base);
}