/* Footer Overall Style */

.footer {
  width: 100%;

  position: fixed;
  bottom: 0;

  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------- Mini Nav ---------- */

.contenedor-miniNav {
  height: 24px;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  background-color: var(--color_base);

  text-align: center;
  text-transform: capitalize;
  font-size: 12px;
}

/* Centrando el Texto y el Nav */

.contenedor-miniNav__texto {
  width: 20%;

  margin-left: 25%;
  padding: 5px 0;

  float: left;
}

/*La miniNav de aqui es innecesaria*/
/* .miniNav {
  width: 30%; 

  margin-right: 25%;

  float: right; 
} */

/* Iconos & Links */

/*Cambios en los links de redes sociales- Elkin :D*/
.miniNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;

  height: inherit;
}

.link-redsocial {
  height: inherit;
  margin: 0 4px;
  padding: 5px 0;

  color: white;
  text-decoration: none;
  transition: 0.5s all;
}

.link-redsocial__icono {
  position: relative;
  top: 4px;
  bottom: 4px;
}
.link-redsocial:hover {
  border: 1px solid rebeccapurple;
  border-bottom: none;
  color: var(--color_oscuro);
  background-color: mediumpurple;
  text-decoration: none;
  text-decoration-color: var(--color_oscuro);
}
/*Fin de los cambios de Elkin :D*/

/* .link-redsocial {
  
}

.link-redsocial:hover {
  border: 1px solid var(--color_oscuro);

  color: var(--color_oscuro);
  text-decoration: underline;
  text-decoration-color: var(--color_oscuro);
}

.link-redsocial__icono {
  position: absolute;
  top: 4px;
  bottom: 4px;
}
.link-redsocial__icono > img {
  position: absolute;
} */

/* ---------- Content ---------- */

.contenidoFooter {
  background-color: var(--color_oscuro);
}

/* ---------- School's Info ---------- */

/* ---------- Copyright --------- */

.contenedor-copy {
  --fondo_copy: rgb(30, 30, 30);
  --copy_grey: rgba(95, 95, 95, 0.4);

  height: 20px;

  border-top: 2px solid var(--copy_grey);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  background-color: var(--fondo_copy);

  text-align: center;
}

.contenedor-textoCopy__texto,
.contenedor-contacto__link {
  font-size: 14px;
}

/* Texto Copyright */

.contenedor-textoCopy {
  height: 100%;
  width: 48%;

  margin-left: 1%;
  border-right: 2px dashed var(--copy_grey);
  border-left: 2px dashed var(--copy_grey);

  float: left;
}

/* Nav Contacto */

.contenedor-contacto {
  height: 100%;
  width: 48%;

  margin-right: 1%;
  border-left: 2px dashed var(--copy_grey);
  border-right: 2px dashed var(--copy_grey);

  float: right;
}

.contenedor-contacto__link {
  color: white;
  text-decoration: none;
}

.contenedor-contacto__link:hover {
  border: 1px solid var(--color_base);

  color: var(--color_base);
}
