/* ----- Footer Style ----- */

.doc-footer {
  width: 100%;

  position: fixed;
  bottom: 0;
}

/* ----- Mini Nav ----- */

.footer-divMiniNav {
  height: 24px;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  background-color: var(--color_base);
}

.footer-divMiniNav__texto {
  width: 20%;

  margin-left: 25%;
  padding: 5px 0;

  float: left;

  font-size: 14px;
  color: rgb(240, 240, 240); 
  text-align: center;
  text-transform: capitalize;
}


/* --- Mini Navigation Menu (Social Media) --- */

.divMiniNav-miniNav {
  height: inherit;
  width: 30%;

  margin-right: 25%;

  float: right;
}

/* - Links on Mini Navigation Menu - */

.miniNav-linkRed{
  height: inherit;

  margin: 0 4px;
  padding: 5px 0;

  text-decoration: none;
}

.miniNav-linkRed:hover {
  border: 1px solid var(--color_oscuro);

  color: var(--color_oscuro);
  text-decoration: underline;
  text-decoration-color: var(--color_oscuro);
}

.miniNav-linkRed__icono {
  position: relative;
  top: 4px;
  bottom: 4px;
}

.miniNav-linkRed__texto{
  font-size: 12px;
  color: rgb(240, 240, 240); 
  text-align: center;
  text-transform: capitalize;
}

/* ---------- Content ---------- */

.footer-content {background-color: var(--color_oscuro);}

/* ----- School's Info ----- */


/* ----- Copyright ----- */

.content-copyright {
  --fondo_copy: rgb(30, 30, 30);
  --copy_grey: rgba(95, 95, 95, 0.4);

  height: 20px;

  border-top: 2px solid var(--copy_grey);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  background-color: var(--fondo_copy);
}

/* -- Copyright Text -- */

.copyright-divCopyright__texto {
  height: 100%;
  width: 48%;

  margin-left: auto;
  border-right: 2px dashed var(--copy_grey);
  border-left: 2px dashed var(--copy_grey);

  float: left;

  color: rgb(240, 240, 240);
  font-size: 14px;
  text-align: center;
}

/* ----- Contact ----- */

.content-contact {
  height: 100%;
  width: 48%;

  margin-right: auto;
  border-left: 2px dashed var(--copy_grey);
  border-right: 2px dashed var(--copy_grey);

  float: right;

  text-align: center;
}

/* -- Contact Links -- */

.content-contact__link {
  color:white;
  font-size: 14px;
  text-decoration: none;
}

.content-contact__link:hover {
  border: 1px solid var(--color_base);

  color: var(--color_base);
}
