/* ---------- Footer overall Style ---------- */
.doc-footer {
  width: 100%;
  position: absolute;
  bottom: 0; }

/* ----- Mini Nav ----- */
.footer-divMiniNav {
  height: 24px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: var(--color_base); }
  .footer-divMiniNav .footer-divMiniNav__texto {
    /* MiniNav Text */
    width: 20%;
    margin-left: 25%;
    padding: 5px;
    float: left;
    font-size: 14px;
    color: var(--color_blanco);
    text-align: center;
    text-transform: capitalize; }
  .footer-divMiniNav .divMiniNav-miniNav {
    /* --- Mini Navigation Menu (Social Media) --- */
    height: inherit;
    width: 35%;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline; }
    .footer-divMiniNav .divMiniNav-miniNav .miniNav-linkRed {
      /* - Links on Mini Navigation Menu - */
      height: 20px;
      margin: 0 4px;
      padding: 2px 4px;
      text-decoration: none;
      transition: 0.5s all; }
      .footer-divMiniNav .divMiniNav-miniNav .miniNav-linkRed:hover {
        border-right: 1px solid var(--color_blanco);
        border-left: 1px solid var(--color_blanco);
        border-radius: 0.25em;
        padding: 2px 10px;
        background-color: var(--color_oscuro);
        text-decoration: none; }
      .footer-divMiniNav .divMiniNav-miniNav .miniNav-linkRed .miniNav-linkRed__icon {
        /* Icons */
        position: relative;
        top: 4px;
        bottom: 4px; }
      .footer-divMiniNav .divMiniNav-miniNav .miniNav-linkRed .miniNav-linkRed__text {
        /* Text */
        font-size: 12px;
        color: var(--color_blanco);
        text-align: center;
        text-transform: capitalize;
        transition: 0.5s all; }
        .footer-divMiniNav .divMiniNav-miniNav .miniNav-linkRed .miniNav-linkRed__text:hover {
          color: var(--color_claro);
          text-decoration: underline;
          text-decoration-color: var(--color_base); }

/* ---------- Content ---------- */
.footer-content {
  background-color: var(--color_oscuro); }

/* ----- School's Info ----- */
/* Aca va a ir el contenido del footer, depronto links a todo el sitemap */
/* ----- Copyright ----- */
.content-copyright {
  --fondo_copy: rgb(30, 30, 30);
  --copy_grey: rgba(95, 95, 95, 0.4);
  height: 20px;
  border-top: 2px solid var(--copy_grey);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: var(--fondo_copy); }
  .content-copyright .copyright-divCopyright__texto {
    /* -- Copyright Text -- */
    height: 100%;
    width: 48%;
    margin-left: auto;
    border-right: 2px dashed var(--copy_grey);
    border-left: 2px dashed var(--copy_grey);
    float: left;
    color: var(--color_blanco);
    font-size: 14px;
    text-align: center; }

/* ----- Contacts links ----- */
.content-contact {
  height: 100%;
  width: 48%;
  margin-right: auto;
  border-left: 2px dashed var(--copy_grey);
  border-right: 2px dashed var(--copy_grey);
  float: right;
  text-align: center; }
  .content-contact .contact-link {
    /* -- Contact Links -- */
    transition: 0.5s all; }
    .content-contact .contact-link:hover {
      border: 1px solid var(--color_base);
      padding: 0 5px; }
    .content-contact .contact-link .contact-link__text {
      /* Contact Text */
      color: var(--color_blanco);
      font-size: 14px;
      transition: 0.5s all; }
      .content-contact .contact-link .contact-link__text:hover {
        color: var(--color_base);
        font-style: italic; }
