* {outline: 1px solid lime !important;}
/* ---------- Header overall Style ---------- */

.header {
  width: 100%;
  overflow: hidden;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 3px #333 ;
  text-decoration: none;
  text-decoration-color: none;
}

/* ---------- Contenido Header ---------- */

.contenidoHeader {
  height: 80px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.541);

  background-color: var(--color_oscuro);
}

/* ---------- Ícono & Escudo Colegio ---------- */

.iconoColegio {
  width: 15%;
  height: 125px;

  float: left;
  z-index: 10;

  background-color: var(--color_oscuro);

  margin: 0px 2%;
  border: 2px solid var(--color_base);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.iconoColegio__escudo {
  /* Cuando se ponga el png */
}

/* ---------- Titulo & Nombre Colegio ---------- */

.titulo {
  float: left;

  margin: 5px;
  border: 2px solid var(--color_base);
  border-radius: 20px;
  padding: 10px;
  padding-right: 50%;

  background-color: var(--color_base);
}

.titulo__nombreColegio{
  color: #fff;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
}

/* ---------- Menu Despegable ---------- */

.divBtn {
  float: right;

  padding: 10px 6%;
}

.divBtn .menuBtn {
  height: 60px;
  width: 60px;

  border: 1px solid var(--color_base);
  border-radius: 12px;

  background-color: var(--color_base);
}

/* ----- Ícono Menu ----- */

.iconoBtn__linea {
  height: 10px;

  margin: 5px 0px;
  border: 1px solid var(--color_oscuro);
  border-radius: 10px;

  background-color: var(--color_oscuro);
}

/* ---------- Menu Despegable ---------- */



/* ---------- Menu Navigation ---------- */

.menuNav {
  position: right;
  left: 620px;
  top: 5px;
  margin-left: 600px;
}

.menuNav a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 20px 10px;
  line-height: normal;
  font-size: 16px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;

}
/*Responsing Beta*/
/* @media only screen and (min-width: 400px) and (max-width: 767px) {
  .enca {
    height: 70px;
  }
  .logo {
    font-size: 300px;
    margin-left: 130;
    margin-top: -15px;
  }
  nav {
    margin-top: -40px;
    transform: translateX(-3%);
  }
} */
