/* ---------- Header overall Style ---------- */
.doc-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 3px #333;
  text-decoration: none;
  text-decoration-color: none; }

/* ----- Header Content ----- */
.header-content {
  height: 80px;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.541);
  background-color: var(--color_oscuro);
  /* ----- Icon of the School ----- */
  /* ----- Title or Name of the School ----- */
  /* ----- DeployableMenu & Btn ----- */ }
  .header-content .header-icon {
    width: 200px;
    height: 175px;
    float: left;
    z-index: 10;
    background-color: var(--color_oscuro);
    margin: 0 2%;
    border: 2px solid var(--color_base);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* -- Icon's link -- */ }
    .header-content .header-icon .icon-link {
      height: 150px;
      width: 150px;
      display: block;
      z-index: 10;
      margin: 10px 25px;
      /* Icon's Image */ }
      .header-content .header-icon .icon-link .icon-link__image {
        /* 150px x 150px */
        z-index: 10; }
  .header-content .header-title {
    width: 70%;
    float: left;
    margin: 5px;
    border: 2px solid var(--color_base);
    border-radius: 0.5em;
    padding: 10px;
    background-color: var(--color_base);
    /* -- Title Text -- */ }
    .header-content .header-title .title-link__name {
      color: #fff;
      font-size: 40px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-weight: bolder; }
  .header-content .header-divMenu {
    height: 80px;
    width: 8%;
    float: right;
    /* ---- Deployable-Menu Btn ---- */
    /* ----- Depoyable Menu ----- */
    /* Show dropMenu */ }
    .header-content .header-divMenu .divMenu-btn {
      height: 75%;
      width: 60px;
      margin-top: 10px;
      margin-left: auto;
      margin-right: 25px;
      margin-bottom: 0;
      border: 1px solid var(--color_base);
      border-radius: 0.25em;
      background-color: var(--color_base);
      display: block;
      transition: var(--velocidad_transition);
      cursor: pointer;
      /* - Icon Menu-Btn - */
      /* Btn not active */
      /* Btn Active */ }
      .header-content .header-divMenu .divMenu-btn .btn-icon {
        height: 70%;
        width: 100%;
        padding: 15% 0; }
        .header-content .header-divMenu .divMenu-btn .btn-icon .icon-row {
          width: 80%;
          margin: 0 auto; }
          .header-content .header-divMenu .divMenu-btn .btn-icon .icon-row .icon-row__dot {
            height: 4px;
            width: 4px;
            margin-top: 2px;
            margin-bottom: 2px;
            margin-right: 2px;
            float: left;
            background-color: var(--color_oscuro);
            transition: var(--velocidad_transition); }
          .header-content .header-divMenu .divMenu-btn .btn-icon .icon-row .icon-row__line {
            height: 4px;
            width: 40px;
            margin-top: 2px;
            margin-bottom: 2px;
            float: left;
            background-color: var(--color_oscuro);
            transition: var(--velocidad_transition); }
      .header-content .header-divMenu .divMenu-btn .btn-icon--active .icon-row {
        /* defalut Dots */
        /* hide Lines */
        /* X lines (Right and left lines) */
        /* upper and bottom lines in the x */ }
        .header-content .header-divMenu .divMenu-btn .btn-icon--active .icon-row .icon-row__dot {
          opacity: 0; }
        .header-content .header-divMenu .divMenu-btn .btn-icon--active .icon-row .icon-row--hidden__line {
          opacity: 0; }
        .header-content .header-divMenu .divMenu-btn .btn-icon--active .icon-row .icon-row--right__line {
          transform: rotate(-45deg) translate(-14px, 7px); }
        .header-content .header-divMenu .divMenu-btn .btn-icon--active .icon-row .icon-row--left__line {
          transform: rotate(45deg) translate(-15px, -9px); }
        .header-content .header-divMenu .divMenu-btn .btn-icon--active .icon-row .icon-row--upper__line {
          transform: translate(-4px, -7px); }
        .header-content .header-divMenu .divMenu-btn .btn-icon--active .icon-row .icon-row--bottom__line {
          transform: translate(-4px, 4px); }
      .header-content .header-divMenu .divMenu-btn:hover, .header-content .header-divMenu .divMenu-btn:focus {
        border-color: var(--color_base);
        background-color: var(--color_oscuro); }
        .header-content .header-divMenu .divMenu-btn:hover .btn-icon .icon-row .icon-row__dot, .header-content .header-divMenu .divMenu-btn:focus .btn-icon .icon-row .icon-row__dot {
          background-color: var(--color_base); }
        .header-content .header-divMenu .divMenu-btn:hover .btn-icon .icon-row .icon-row__line, .header-content .header-divMenu .divMenu-btn:focus .btn-icon .icon-row .icon-row__line {
          background-color: var(--color_base); }
    .header-content .header-divMenu .divMenu-dropMenu {
      width: 300px;
      height: auto;
      border: 2.5px outset var(--color_oscuro);
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
      padding: 10px;
      position: absolute;
      right: 25px;
      background-color: var(--color_oscuro);
      display: none;
      z-index: 1;
      /* -- 
        Links To Sign In & Log In 
        OR if loged in Account settings 
      -- */ }
      .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav {
        width: 90%;
        margin: 10px auto;
        border-radius: 0.5em;
        padding: 10px;
        background-color: var(--color_base);
        /* Text or title of the Navigation */
        /* Separator of the title and the links */
        /* -- General Links In the dropMenu -- */
        /* -- Main or important Link in the dropMenu -- */
        /* --- HoverMenu ---*/
        /* Important Links with hoverMenus */ }
        .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropMenu-dropNav__text {
          padding-inline-start: 1%;
          color: var(--color_blanco);
          font-size: 24px;
          font-weight: bold; }
        .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropMenu-dropNav__separator {
          width: 100%;
          margin-block-start: 5px;
          margin-block-end: 5px;
          border: 1px outset var(--color_oscuro);
          border-radius: 1em; }
        .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link {
          width: 80%;
          margin: 5px auto;
          border-radius: 0.5em;
          padding-top: 5px;
          padding-bottom: 5px;
          background-color: var(--color_claro);
          text-align: center;
          display: block;
          transition: var(--velocidad_transition);
          /* Text in the link */ }
          .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link:hover, .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link:focus {
            width: 85%;
            padding: 10px 0; }
          .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link .dropNav-link__text {
            color: var(--color_blanco);
            font-size: 18px;
            transition: var(--velocidad_transition); }
            .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link .dropNav-link__text:hover, .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link .dropNav-link__text:focus {
              color: var(--color_oscuro);
              text-decoration: underline var(--color_oscuro); }
        .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link--mainLink {
          width: 90%;
          border-radius: 1em;
          background-color: var(--color_oscuro);
          /* Text in the important Link */ }
          .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link--mainLink:hover, .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link--mainLink:focus {
            width: 95%;
            padding: 10px 0; }
          .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link--mainLink .dropNav-link__text {
            font-size: 20px; }
            .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link--mainLink .dropNav-link__text:hover, .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link--mainLink .dropNav-link__text:focus {
              color: var(--color_claro);
              text-decoration: underline var(--color_claro); }
        .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu {
          transition: var(--velocidad_transition);
          /* -- HoverMenu-MainLink -- */
          /* -- HoverMenu-Content -- */ }
          .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu:hover .hoverMenu-hoverContent, .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu:focus .hoverMenu-hoverContent {
            height: 100px;
            margin-top: 0;
            margin-bottom: 5px;
            margin-right: auto;
            margin-left: auto;
            border: 5px outset var(--color_oscuro);
            border-radius: 1em;
            padding: 2px;
            visibility: visible; }
            .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu:hover .hoverMenu-hoverContent .hoverContent-link, .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu:focus .hoverMenu-hoverContent .hoverContent-link {
              display: block; }
              .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu:hover .hoverMenu-hoverContent .hoverContent-link .hoverContent-link__text, .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu:focus .hoverMenu-hoverContent .hoverContent-link .hoverContent-link__text {
                opacity: 1; }
          .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu .hoverMenu-link {
            width: 85%;
            margin-top: 5px;
            margin-bottom: 0;
            margin-right: auto;
            margin-left: auto;
            border-radius: 0.75em;
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: var(--color_oscuro);
            text-align: center;
            display: block;
            transition: var(--velocidad_transition);
            /* Text in the HoverMenu-MainLink */ }
            .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu .hoverMenu-link:hover, .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu .hoverMenu-link:focus {
              width: 90%;
              padding-top: 5px;
              padding-bottom: 5px; }
            .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu .hoverMenu-link .hoverMenu-link__text {
              color: var(--color_blanco);
              font-size: 20px; }
              .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu .hoverMenu-link .hoverMenu-link__text:hover, .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu .hoverMenu-link .hoverMenu-link__text:focus {
                color: var(--color_claro);
                text-decoration: underline var(--color_claro); }
          .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu .hoverMenu-hoverContent {
            width: 95%;
            height: 0;
            border-radius: 0.5em;
            background-color: var(--color_oscuro);
            transition: var(--velocidad_transition);
            z-index: 10;
            visibility: hidden;
            /* Hidden while not hover */
            /* - Content-links */ }
            .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu .hoverMenu-hoverContent .hoverContent-link {
              height: 25px;
              width: 80%;
              margin-top: 4px;
              margin-bottom: 4px;
              margin-right: auto;
              margin-left: 5px;
              border-radius: 0.25em;
              padding-inline-start: 10px;
              background-color: var(--color_base);
              transition: var(--velocidad_transition);
              display: none;
              /* Hidden while not hover */
              /* Content-Link's text */ }
              .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu .hoverMenu-hoverContent .hoverContent-link:hover, .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu .hoverMenu-hoverContent .hoverContent-link:focus {
                width: 90%; }
              .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu .hoverMenu-hoverContent .hoverContent-link .hoverContent-link__text {
                color: var(--color_blanco);
                font-size: 20px;
                transition: var(--velocidad_transition);
                opacity: 0;
                /* Hidden while not hover */ }
                .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-hoverMenu .hoverMenu-hoverContent .hoverContent-link .hoverContent-link__text:hover {
                  color: var(--color_claro);
                  text-decoration: underline var(--color_claro); }
    .header-content .header-divMenu .divMenu-dropMenu--visible {
      display: block; }

/* ----- Navigation Menu ----- */
.header-nav {
  width: 85%;
  height: 45px;
  border-bottom-right-radius: 2em;
  padding-top: 10px;
  float: left;
  position: absolute;
  top: 70px;
  z-index: -10;
  background-color: var(--color_base);
  /* -- Links on the Nav -- */ }
  .header-nav .nav-link {
    margin: 2px 5%;
    padding: 10px 1%;
    float: right;
    display: block;
    transition: var(--velocidad_transition), border 250ms linear;
    /* Text on the Links */ }
    .header-nav .nav-link:hover, .header-nav .nav-link:focus {
      border: 1px solid var(--color_claro);
      border-left-width: 2px;
      border-right-width: 2px;
      border-radius: 0.5em;
      background-color: var(--color_oscuro); }
    .header-nav .nav-link .nav-link__text {
      color: var(--color_blanco);
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 16px;
      line-height: normal;
      transition: var(--velocidad_transition); }
      .header-nav .nav-link .nav-link__text:hover, .header-nav .nav-link .nav-link__text:focus {
        color: var(--color_claro);
        text-decoration: underline var(--color_claro) solid; }

/*Responsing Beta*/
/* @media only screen and (min-width: 400px) and (max-width: 767px) {
  .enca {
    height: 70px;
  }
  .logo {
    font-size: 300px;
    margin-left: 130;
    margin-top: -15px;
  }
  nav {
    margin-top: -40px;
    transform: translateX(-3%);
  }
} */
