/* ---------- Header overall Style ---------- */

.doc-header {
  width: 100%;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 3px #333 ;
  text-decoration: none;
  text-decoration-color: none;
  
  overflow: hidden;
}

/* ---------- Header Content ---------- */

.header-content {
  height: 80px;

  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.541);

  background-color: var(--color_oscuro);
}

/* ----- Icon of the School ----- */

.header-icon {
  width: 200px;
  height: 175px;

  float: left;
  z-index: 10;

  background-color: var(--color_oscuro);

  margin: 0 2%;
  border: 2px solid var(--color_base);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* -- Icon's link -- */
.icon-link {
  height: 150px;
  width: 150px;

  display: block;
  z-index: 10;

  margin: 10px 25px;
}

/* Icon's Image */
.icon-link__image { /* 150px x 150px */
  z-index: 10;
}

/* ----- Title or Name of the School ----- */

.header-title {
  float: left;

  margin: 5px;
  border: 2px solid var(--color_base);
  border-radius: 20px;
  padding: 10px;
  padding-right: 50%;

  background-color: var(--color_base);
}

/* -- Title Text -- */
.title-link__name {
  color: #fff;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
}

/* ----- Deployable Menu ----- */

.header-divMenu {
  float: right;

  padding: 10px 6%;
}

/* ---- Deployable-Menu Btn ---- */

.divMenu-btn {
  height: 60px;
  width: 60px;

  border: 1px solid var(--color_base);
  border-radius: 12px;

  background-color: var(--color_base);
}

/* -- Icon Menu-Btn -- */
.btn-icon__line {
  height: 10px;

  margin: 5px 0;
  border: 1px solid var(--color_oscuro);
  border-radius: 10px;

  background-color: var(--color_oscuro);
}

/* ----- Depoyable Menu ----- */



/* ----- Navigation Menu ----- */

.header-nav {
  width: 85%;
  height: 45px;

  border-bottom-right-radius: 2em;
  padding-top: 10px;

  float: left;
  position: absolute;
  top: 70px;
  
  z-index: -10;

  background-color: var(--color_base);
}

/* -- Links on the Nav -- */
.nav-link {
  margin: 2px 5%;
  padding: 10px 1%;
  
  float: right;

  display: block;
  transition: var(--velocidad_transition), border 250ms linear;
}

.nav-link:hover {
  border: 1px solid var(--color_claro);
  border-left-width: 2px;
  border-right-width: 2px;
  border-radius: 0.5em;

  background-color: var(--color_oscuro);
}

/* Text on the Links */
.nav-link__text {
  color: var(--color_blanco);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: normal;

  transition: var(--velocidad_transition);
}

.nav-link__text:hover {
  color: var(--color_claro);
}

/*Responsing Beta*/
/* @media only screen and (min-width: 400px) and (max-width: 767px) {
  .enca {
    height: 70px;
  }
  .logo {
    font-size: 300px;
    margin-left: 130;
    margin-top: -15px;
  }
  nav {
    margin-top: -40px;
    transform: translateX(-3%);
  }
} */
