/* ---------- Header overall Style ---------- */
.doc-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 3px #333;
  text-decoration: none;
  text-decoration-color: none; }

/* ----- Header Content ----- */
.header-content {
  height: 80px;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.541);
  background-color: var(--color_oscuro);
  /* ----- Icon of the School ----- */
  /* ----- Title or Name of the School ----- */
  /* ----- DeployableMenu & Btn ----- */ }
  .header-content .header-icon {
    width: 200px;
    height: 175px;
    float: left;
    z-index: 10;
    background-color: var(--color_oscuro);
    margin: 0 2%;
    border: 2px solid var(--color_base);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* -- Icon's link -- */ }
    .header-content .header-icon .icon-link {
      height: 150px;
      width: 150px;
      display: block;
      z-index: 10;
      margin: 10px 25px;
      /* Icon's Image */ }
      .header-content .header-icon .icon-link .icon-link__image {
        /* 150px x 150px */
        z-index: 10; }
  .header-content .header-title {
    width: 70%;
    float: left;
    margin: 5px;
    border: 2px solid var(--color_base);
    border-radius: 0.5em;
    padding: 10px;
    background-color: var(--color_base);
    /* -- Title Text -- */ }
    .header-content .header-title .title-link__name {
      color: #fff;
      font-size: 40px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-weight: bolder; }
  .header-content .header-divMenu {
    height: 80px;
    width: 8%;
    float: right;
    /* ---- Deployable-Menu Btn ---- */
    /* ----- Depoyable Menu ----- */ }
    .header-content .header-divMenu .divMenu-btn {
      height: 75%;
      width: 60px;
      margin-top: 10px;
      margin-left: auto;
      margin-right: 25px;
      margin-bottom: 0;
      border: 1px solid var(--color_base);
      border-radius: 0.25em;
      background-color: var(--color_base);
      display: block;
      /* Icon Menu-Btn */ }
      .header-content .header-divMenu .divMenu-btn .btn-icon__dot {
        height: 7px;
        width: 7px;
        margin-top: 6%;
        margin-right: 2px;
        margin-bottom: 6%;
        border: 1px solid var(--color_oscuro);
        border-radius: 5em;
        float: left;
        background-color: var(--color_oscuro); }
      .header-content .header-divMenu .divMenu-btn .btn-icon__line {
        height: 7px;
        width: 30px;
        margin-top: 6%;
        margin-bottom: 6%;
        border: 1px solid var(--color_oscuro);
        border-radius: 0.25em;
        float: left;
        background-color: var(--color_oscuro); }
    .header-content .header-divMenu .divMenu-dropMenu {
      width: 300px;
      height: 500px;
      border: 2.5px outset var(--color_oscuro);
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
      padding: 10px;
      position: absolute;
      right: 25px;
      background-color: var(--color_oscuro);
      display: block;
      z-index: 50;
      /* -- 
        Links To Sign In & Log In 
        OR if loged in Account settings 
      -- */ }
      .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav {
        width: 90%;
        margin: 10px auto;
        border-radius: 0.5em;
        padding: 10px;
        background-color: var(--color_base);
        /* Text or title of the Navigation */
        /* Separator of the title and the links */
        /* - General Links or Others - */
        /* Main Link */ }
        .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropMenu-dropNav__text {
          padding-inline-start: 1%;
          color: var(--color_blanco);
          font-size: 24px;
          font-weight: bold; }
        .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropMenu-dropNav__separator {
          width: 100%;
          margin-block-start: 5px;
          margin-block-end: 5px;
          border: 1px outset var(--color_oscuro);
          border-radius: 1em; }
        .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link {
          width: 80%;
          margin: 5px auto;
          border-radius: 0.5em;
          padding-top: 5px;
          padding-bottom: 5px;
          background-color: var(--color_claro);
          text-align: center;
          display: block;
          transition: var(--velocidad_transition);
          /* Text in the link */ }
          .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link:hover, .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link:focus {
            width: 85%;
            padding: 10px 0; }
          .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link .dropNav-link__text {
            color: var(--color_blanco);
            font-size: 18px;
            transition: var(--velocidad_transition); }
            .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link .dropNav-link__text:hover, .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link .dropNav-link__text:focus {
              color: var(--color_oscuro);
              text-decoration: underline var(--color_oscuro); }
        .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link--mainLink {
          width: 90%;
          border-radius: 1em;
          background-color: var(--color_oscuro);
          /* Text in Sign In Link */ }
          .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link--mainLink:hover, .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link--mainLink:focus {
            width: 95%;
            padding: 10px 0; }
          .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link--mainLink .dropNav-link__text {
            font-size: 20px; }
            .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link--mainLink .dropNav-link__text:hover, .header-content .header-divMenu .divMenu-dropMenu .dropMenu-dropNav .dropNav-link--mainLink .dropNav-link__text:focus {
              color: var(--color_claro);
              text-decoration: underline var(--color_claro); }

/* ----- Navigation Menu ----- */
.header-nav {
  width: 85%;
  height: 45px;
  border-bottom-right-radius: 2em;
  padding-top: 10px;
  float: left;
  position: absolute;
  top: 70px;
  z-index: -10;
  background-color: var(--color_base);
  /* -- Links on the Nav -- */ }
  .header-nav .nav-link {
    margin: 2px 5%;
    padding: 10px 1%;
    float: right;
    display: block;
    transition: var(--velocidad_transition), border 250ms linear;
    /* Text on the Links */ }
    .header-nav .nav-link:hover, .header-nav .nav-link:focus {
      border: 1px solid var(--color_claro);
      border-left-width: 2px;
      border-right-width: 2px;
      border-radius: 0.5em;
      background-color: var(--color_oscuro); }
    .header-nav .nav-link .nav-link__text {
      color: var(--color_blanco);
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 16px;
      line-height: normal;
      transition: var(--velocidad_transition); }
      .header-nav .nav-link .nav-link__text:hover, .header-nav .nav-link .nav-link__text:focus {
        color: var(--color_claro);
        text-decoration: underline var(--color_claro) solid; }

/*Responsing Beta*/
/* @media only screen and (min-width: 400px) and (max-width: 767px) {
  .enca {
    height: 70px;
  }
  .logo {
    font-size: 300px;
    margin-left: 130;
    margin-top: -15px;
  }
  nav {
    margin-top: -40px;
    transform: translateX(-3%);
  }
} */
