<!-- FOOTER -->
<footer>
  <!-- Mini Navigation -->
  <div class="div_miniNav">
    <p>Redes Sociales del Colegio: </p>
  </div>
  <!-- Footer Content -->
  <div class="content">
    <!-- School's info -->
    <div class="info">
      <p> hello </p>
      <p> hello </p>
    </div>
    <!-- Copyright -->  
    <div class="div_copyright">
      <div class="text_copy">
        <p> Todos los derechos reservados &copy; Equipo PPE </p> 
      </div>
      <div class="contact">
        <a href="http://localhost:4000/app/home"> Contacto </a>
      </div>
    </div>
  </div>
</footer>
