<!-- FOOTER -->
<footer>
  <!-- Mini Navigation -->
  <div class="div_miniNav">
    <p> Redes Sociales del Colegio </p>
    <nav>
      <a href="www.facebook.com">
        <img src="/img/facebook.png" alt="Ícono De Facebook.com" class="icono" target="_blank" />
        Facebook
      </a>
      <a href="twitter.com">
        <img src="/img/twitter.png" alt="Ícono De Twitter.com" class="icono" target="_blank"/>
        Twitter
      </a>
      <a href="Instagram.com">
        <img src="/img/instagram.png" alt="Ícono De Instragram.com" class="icono" target="_blank"/>
        Instagram
      </a>
      <a href="youtube.com">
        <img src="/img/youtube.png" alt="Ícono De Youtube.com" class="icono" target="_blank"/>
        Youtube
      </a>
      <a href="whatsapp.com">
        <img src="/img/whatsapp.png" alt="Ícono De Whatsapp.com" class="icono" target="_blank"/>
        Whatsapp
      </a>
    </nav>
  </div>
  <!-- Footer Content -->
  <div class="content">
    <!-- School's info -->
    <div class="info">
      <p> hello </p>
    </div>
    <!-- Copyright -->
    <div class="div_copyright">
      <div class="text_copy">
        <p> Todos los derechos reservados &copy; Equipo PPE </p>
      </div>
      <div class="contact">
        <a href="http://localhost:4000/app/home"> Contacto </a>
      </div>
    </div>
  </div>
</footer>
