<!-- FOOTER -->
<footer class="doc-footer">
  <!-- Mini Navigation -->
  <div class="footer-divMiniNav">
    <span class="footer-divMiniNav__texto">Redes Sociales del Colegio</span>
    <!-- Links a Redes Sociales -->
    <nav class="divMiniNav-miniNav">
      <a class="miniNav-linkRed" href="www.facebook.com">
        <img class="miniNav-linkRed__icon" src="/img/facebook.png" alt="Ícono De Facebook.com" target="_blank" />
        <span class="miniNav-linkRed__text">Facebook</span>
      </a>
      <a class="miniNav-linkRed" href="twitter.com">
        <img class="miniNav-linkRed__icon" src="/img/twitter.png" alt="Ícono De Twitter.com" target="_blank"/>
        <span class="miniNav-linkRed__text">Twitter</span>
      </a>
      <a class="miniNav-linkRed" href="Instagram.com">
        <img class="miniNav-linkRed__icon" src="/img/instagram.png" alt="Ícono De Instragram.com" target="_blank"/>
        <span class="miniNav-linkRed__text">Instagram</span>
      </a>
      <a class="miniNav-linkRed" href="youtube.com">
        <img class="miniNav-linkRed__icon" src="/img/youtube.png" alt="Ícono De Youtube.com" target="_blank"/>
        <span class="miniNav-linkRed__text">Youtube</span>
      </a>
      <a class="miniNav-linkRed" href="whatsapp.com">
        <img class="miniNav-linkRed__icon" src="/img/whatsapp.png" alt="Ícono De Whatsapp.com" target="_blank"/>
        <span class="miniNav-linkRed__text">Whatsapp</span>
      </a>
    </nav>
  </div>
  <!-- Footer Content -->
  <div class="footer-content">
    <!-- School's info -->
    <section class="content-info">
      <p> hello </p>
    </section>
    <!-- Copyright -->
    <section class="content-copyright">
      <div class="copyright-divCopyright">
        <span class="copyright-divCopyright__texto">Todos los derechos reservados &copy; Equipo PPE</span>
      </div>
      <address class="content-contact">
        <a class="contact-link" href="http://localhost:4000/app/home">
          <span class="contact-link__text">Contacto</span>
        </a>
      </address>
    </section>
  </div>
</footer>