<!-- FOOTER -->
<footer class="footer">
  <!-- Mini Navigation -->
  <div class="contenedor-miniNav">
    <span class="contenedor-miniNav__texto"> Redes Sociales del Colegio </span>
    <nav class="miniNav">
      <!-- Links a Redes Sociales -->
      <a class="link-redsocial" href="www.facebook.com">
        <img class="link-redsocial__icono" src="/img/facebook.png" alt="Ícono De Facebook.com" target="_blank" />
        Facebook
      </a>
      <a class="link-redsocial" href="twitter.com">
        <img class="link-redsocial__icono" src="/img/twitter.png" alt="Ícono De Twitter.com" target="_blank"/>
        Twitter
      </a>
      <a class="link-redsocial" href="Instagram.com">
        <img class="link-redsocial__icono" src="/img/instagram.png" alt="Ícono De Instragram.com" target="_blank"/>
        Instagram
      </a>
      <a class="link-redsocial" href="youtube.com">
        <img class="link-redsocial__icono" src="/img/youtube.png" alt="Ícono De Youtube.com" target="_blank"/>
        Youtube
      </a>
      <a class="link-redsocial" href="whatsapp.com">
        <img class="link-redsocial__icono" src="/img/whatsapp.png" alt="Ícono De Whatsapp.com" target="_blank"/>
        Whatsapp
      </a>
    </nav>
  </div>
  <!-- Footer Content -->
  <div class="contenidoFooter">
    <!-- School's info -->
    <section class="contenedor-info">
      <p> hello </p>
    </section>
    <!-- Copyright -->
    <section class="contenedor-copy">
      <div class="contenedor-textoCopy">
        <span class="contenedor-textoCopy__texto"> Todos los derechos reservados &copy; Equipo PPE </span>
      </div>
      <address class="contenedor-contacto">
        <a class="contenedor-contacto__link" href="http://localhost:4000/app/home"> Contacto </a>
      </address>
    </section>
  </div>
</footer>
