<!--Header-->
<header class="header">
    <!-- Contenido del Header -->
    <div class="contenidoHeader">
      <!-- Ícono/Escudo del Colegio -->
      <div class="iconoColegio">
        <a class="iconoColegio__escudo"> TEST </a>
      </div>
      <!-- Nombre del Colegio -->
      <div class="titulo">
        <a class="titulo__nombreColegio"> Colegio </a>
      </div>
      <!-- Btn Menu Despegable -->
      <div class="divBtn">
        <button class="menuBtn">
          <!-- Ícono del Button -->
          <div class="iconoBtn">
            <div class="iconoBtn__linea"></div>
            <div class="iconoBtn__linea"></div>
            <div class="iconoBtn__linea"></div>
          </div>
        </button>
        <!-- dropdown & menudepegable
        <div class="menuDes">

        </div> -->
      </div>
    </div>
    <!-- Menu Nav
    <nav class="menuNav">
      <a href="">Inicio</a>
      <a href="">Noticias</a>
      <a href="">Quienes Somos</a>
      <a href="">Contacto</a>
    -->
    </nav>
</header>
