q'hubo weon<!--Header-->
<header>
    <!-- Nombre del Colegio-->
    <div class="nombreColegio">
      <a>Nombre</a>
    </div>
    <!-- Menu Nav -->
    <nav class="menuNav">
      <a href="">Inicio</a>
      <a href="">Noticias</a>
      <a href="">Quienes Somos</a>
      <a href="">Contacto</a>
    </nav>
</header>
