<!--Header-->
<header>
    <!-- Contenido del Header -->
    <div class="contenidoHeader">
      <!-- Ãcono/Escudo del Colegio -->
      <div class="escudo">
        <a> TEST </a>
      </div>
      <!-- Nombre del Colegio -->
      <div class="nombreColegio">
        <a> Colegio </a>
      </div>
      <!-- Btn Menu Despegable -->
      <div class="menuDes">
        <button id="menuBtn">
          <div id="iconoBtn">
            <!-- Quiero usar css para hacer un icono para el menu -->
          </div>
        </button>
      </div>
    </div>
    <!-- Menu Nav
    <nav class="menuNav">
      <a href="">Inicio</a>
      <a href="">Noticias</a>
      <a href="">Quienes Somos</a>
      <a href="">Contacto</a>
    -->
    </nav>
</header>
