<!-- Header -->
<header class="doc-header">
    <!-- Contenido del Header -->
    <div class="header-content">
      <!-- Ícono/Escudo del Colegio -->
      <div class="header-icon">
        <a class="icon-link" href="#">
          <img class="icon-link__image" src="/obj_plantilla/tests/150px.png" alt="test de 150px^2">
        </a>
      </div>
      <!-- Nombre del Colegio -->
      <div class="header-title">
        <a class="title-link" href="#"> 
          <h1 class="title-link__name">Colegio</h1>
        </a>
      </div>
      <!-- Btn Menu Despegable -->
      <div class="header-divMenu">
        <button class="divMenu-btn">
          <!-- Ícono del Button -->
          <div class="btn-icon">
            <div class="btn-icon__dot"></div>
            <div class="btn-icon__line"></div>
            <div class="btn-icon__dot"></div>
            <div class="btn-icon__line"></div>
            <div class="btn-icon__dot"></div>
            <div class="btn-icon__line"></div>
          </div>
        </button>
        <!-- dropdown menu -->
        <div class="divMenu-dropMenu">
          <!-- Links for Account Settings / Log-Sign In -->
          <nav class="dropMenu-dropNav">
            <span class="dropMenu-dropNav__text">Cuenta</span> 
            <hr class="dropMenu-dropNav__separator">
            <a class="dropNav-link  dropNav-link--mainLink" href="#">
              <span class="dropNav-link__text">Registrarse</span>
            </a>
            <a class="dropNav-link" href="#">
              <span class="dropNav-link__text">Iniciar Sesión</span>
            </a> 
          </nav>
          <!-- Menu Links -->
          <nav class="dropMenu-dropNav">
            <span class="dropMenu-dropNav__text">Menu</span>
            <hr class="dropMenu-dropNav__separator">
            <a class="dropNav-link dropNav-link--mainLink" href="#">
              <span class="dropNav-link__text">Inicio</span>
            </a>
            <hr class="dropMenu-dropNav__separator">
            <!-- hoverMenu "Acerca Nosotros" -->
            <div class="dropNav-hoverMenu">
              <a class="hoverMenu-link" href="#">
                <span class="hoverMenu-link__text">Acerca Nosotros</span>
              </a>
                <div class="hoverMenu-hoverContent">
                  <a class="hoverContent-link"href="#">
                    <span class="hoverContent-link__text">TEST</span>
                  </a>
                  <a class="hoverContent-link" href="#">
                    <span class="hoverContent-link__text">test</span>
                  </a>
                  <a class="hoverContent-link" href="#">
                    <span class="hoverContent-link__text">Test</span>
                  </a>
                </div>
            </div>
            <hr class="dropMenu-dropNav__separator">
            <!-- hoverMenu "Anuncios Escolares" -->
            <div class="dropNav-hoverMenu">
              <a class="hoverMenu-link" href="#">
                <span class="hoverMenu-link__text">Anuncios Escolares</span>
              </a>
                <div class="hoverMenu-hoverContent">
                  <a class="hoverContent-link"href="#">
                    <span class="hoverContent-link__text">TEST</span>
                  </a>
                  <a class="hoverContent-link" href="#">
                    <span class="hoverContent-link__text">test</span>
                  </a>
                  <a class="hoverContent-link" href="#">
                    <span class="hoverContent-link__text">Test</span>
                  </a>
                </div>
            </div>
            <hr class="dropMenu-dropNav__separator">
          </nav>
        </div>
      </div>
    </div>
    <!-- Menu Nav -->
    <nav class="header-nav">
      <a class="nav-link" href="#">
        <span class="nav-link__text">Actividades</span>
      </a>
      <a class="nav-link" href="#">
        <span class="nav-link__text">Quienes Somos</span>
      </a>
      <a class="nav-link" href="#">
        <span class="nav-link__text">Anuncios</span>
      </a>
      <a class="nav-link" href="#">
        <span class="nav-link__text">Inicio</span>
      </a>
    </nav>
</header>
