/* ---------- Header overall Style ---------- */
.doc-header {
  width: 100%;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 3px #333 ;
  text-decoration: none;
  text-decoration-color: none;
}

/* ----- Header Content ----- */

.header-content {
  height: 80px;

  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.541);

  background-color: var(--color_oscuro);

  /* ----- Icon of the School ----- */
  
  .header-icon {
    width: 200px;
    height: 175px;
  
    float: left;
    z-index: 10;
    
    background-color: var(--color_oscuro);
    
    margin: 0 2%;
    border: 2px solid var(--color_base);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    /* -- Icon's link -- */
    .icon-link {
      height: 150px;
      width: 150px;
      
      display: block;
      z-index: 10;
    
      margin: 10px 25px;
      
      /* Icon's Image */
      .icon-link__image { /* 150px x 150px */
        z-index: 10;
      }
    }
  }
  
  /* ----- Title or Name of the School ----- */
  
  .header-title {
    width: 70%;
    float: left;
  
    margin: 5px;
    border: 2px solid var(--color_base);
    border-radius: 0.5em;
    padding: 10px;
  
    background-color: var(--color_base);
    
    /* -- Title Text -- */
    .title-link__name {
      color: #fff;
      font-size: 40px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-weight: bolder;
    }
  }

  /* ----- DeployableMenu & Btn ----- */
  
  .header-divMenu {
    height: 80px;
    width: 8%;
  
    float: right;
    
    /* ---- Deployable-Menu Btn ---- */
    .divMenu-btn {
      height: 75%;
      width: 60px;
    
      margin-top: 10px;
      margin-left: auto;
      margin-right: 25px;
      margin-bottom: 0;
      border: 1px solid var(--color_base);
      border-radius: 0.25em;
    
      background-color: var(--color_base);
    
      display: block;
      
      /* Icon Menu-Btn */
      .btn-icon__dot {
        height: 7px;
        width: 7px;
      
        margin-top: 6%;
        margin-right: 2px;
        margin-bottom: 6%;
        border: 1px solid var(--color_oscuro);
        border-radius: 5em;
      
        float: left;
        
        background-color: var(--color_oscuro);
      }
      .btn-icon__line {
        height: 7px;
        width: 30px;
      
        margin-top: 6%;
        margin-bottom: 6%;
        border: 1px solid var(--color_oscuro);
        border-radius: 0.25em;
      
        float: left;
      
        background-color: var(--color_oscuro);
      }
    }
  
    /* ----- Depoyable Menu ----- */
    .divMenu-dropMenu {
      width: 300px;
      height: auto;
  
      border: 2.5px outset var(--color_oscuro);
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
      padding: 10px;
  
      position: absolute;
      right: 25px;
  
      background-color: var(--color_oscuro);
  
      display: block;
      z-index: 1;
      
      /* -- 
        Links To Sign In & Log In 
        OR if loged in Account settings 
      -- */
      .dropMenu-dropNav {
        width: 90%;
        
        margin: 10px auto;
        border-radius: 0.5em;
        padding: 10px;
  
        background-color: var(--color_base);

        /* Text or title of the Navigation */
        .dropMenu-dropNav__text {
          padding-inline-start: 1%;

          color: var(--color_blanco);
          font-size: 24px;
          font-weight: bold;
        }
        /* Separator of the title and the links */
        .dropMenu-dropNav__separator {
          width: 100%;

          margin-block-start: 5px;
          margin-block-end: 5px;
          border: 1px outset var(--color_oscuro);
          border-radius: 1em;
        }
        
        /* -- General Links In the dropMenu -- */
        .dropNav-link {
          width: 80%;
          
          margin: 5px auto;
          border-radius: 0.5em;
          padding-top: 5px;
          padding-bottom: 5px;
          
          background-color: var(--color_claro);
          
          text-align: center;
          
          display: block;
          transition: var(--velocidad_transition);

          &:hover, &:focus {
            width: 85%;

            padding: 10px 0;
          }

          /* Text in the link */
          .dropNav-link__text{
            color: var(--color_blanco);
            font-size: 18px;

            transition: var(--velocidad_transition);

            &:hover, &:focus {
              color: var(--color_oscuro);
              text-decoration: underline var(--color_oscuro);
            }
          }
        }

        /* -- Main Link in the dropMenu -- */
        .dropNav-link--mainLink {
          width: 90%;

          border-radius: 1em;

          background-color: var(--color_oscuro);

          &:hover, &:focus {
            width: 95%;

            padding: 10px 0;
          }
          /* Text in the important Link */
          .dropNav-link__text {
            font-size: 20px;

            &:hover, &:focus {
              color: var(--color_claro);
              text-decoration: underline var(--color_claro);
            }
          }
        }

        /* --- HoverMenu ---*/
        /* Important Links with hoverMenus */

        .dropNav-hoverMenu {
          transition: var(--velocidad_transition);

          &:hover, &:focus{
            .hoverMenu-hoverContent {
              height: 150px;

              margin-top: 0;
              margin-bottom: 5px;
              margin-right: auto;
              margin-left: auto;
              border: 5px outset var(--color_oscuro);
              border-radius: 1em;
              padding: 2px;

              background-color: var(--color_base);

              visibility: visible;

              .hoverContent-link{
                display: block;

                .hoverContent-link__text {
                  opacity: 1;
                }
              }
            }
          }

          /* -- HoverMenu-MainLink -- */
          .hoverMenu-link {
            width: 85%;

            margin-top: 5px;
            margin-bottom: 0;
            margin-right: auto;
            margin-left: auto;
            border-radius: 0.75em;
            padding-top: 5px;
            padding-bottom: 5px;
  
            background-color: var(--color_oscuro);
            
            text-align: center;

            display: block;
            transition: var(--velocidad_transition);
            
            &:hover, &:focus {
              width: 90%;
              padding-top: 10px;
              padding-bottom: 10px;
            }
  
            /* Text in the HoverMenu-MainLink */
            .hoverMenu-link__text {
              color: var(--color_blanco);
              font-size: 20px;
  
              &:hover, &:focus {
                color: var(--color_claro);
                text-decoration: underline var(--color_claro);
              }
            }

          }

          /* -- HoverMenu-Content -- */
          .hoverMenu-hoverContent {
            width: 95%;
            height: 0;

            border-radius: 0.5em;

            background-color: var(--color_oscuro);

            transition: var(--velocidad_transition);
            z-index: 10;
            visibility: hidden; /* Hidden while not hover */

            /* - Content-links */
            .hoverContent-link {
              width: 200px;

              margin-top: 2px;
              margin-bottom: 2px;
              margin-right: auto;
              margin-left: 5px;
              border: 2px inset var(--color_oscuro);
              border-radius: 0.5em;
              padding-inline-start: 10px;

              background-color: var(--color_base);

              transition: var(--velocidad_transition);
              display: none; /* Hidden while not hover */

              /* Content-Link's text */
              .hoverContent-link__text {
                font-size: 20px;

                opacity: 0; /* Hidden while not hover */
              }
            }
          }
        }
      }
    }
  }
}



/* ----- Navigation Menu ----- */

.header-nav {
  width: 85%;
  height: 45px;

  border-bottom-right-radius: 2em;
  padding-top: 10px;

  float: left;
  position: absolute;
  top: 70px;
  
  z-index: -10;

  background-color: var(--color_base);
  
  /* -- Links on the Nav -- */
  .nav-link {
    margin: 2px 5%;
    padding: 10px 1%;
    
    float: right;
  
    display: block;
    transition: var(--velocidad_transition), border 250ms linear;

    &:hover, &:focus {
      border: 1px solid var(--color_claro);
      border-left-width: 2px;
      border-right-width: 2px;
      border-radius: 0.5em;
    
      background-color: var(--color_oscuro);
    }
    
    /* Text on the Links */
    .nav-link__text {
      color: var(--color_blanco);
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 16px;
      line-height: normal;
    
      transition: var(--velocidad_transition);
      
      &:hover, &:focus {
        color: var(--color_claro);
        text-decoration: underline var(--color_claro) solid;  
      }
    }
  }
}

/*Responsing Beta*/
/* @media only screen and (min-width: 400px) and (max-width: 767px) {
  .enca {
    height: 70px;
  }
  .logo {
    font-size: 300px;
    margin-left: 130;
    margin-top: -15px;
  }
  nav {
    margin-top: -40px;
    transform: translateX(-3%);
  }
} */
