{{> navigation}}
<div class="ctn-formulario">
<form method="POST" action="">
    <input type="text" name=""/>
</form>
</div>

<!--
    -Que campos van a ir aquí?
    -hacer commit y push 
-->


{{>footer}}