/* ---------- CSS GLOBAL Variables ---------- */

:root{
  /* Var Colors */
  --color_base: rgb(102, 102, 255);
  --color_oscuro: rgba(0, 0, 102, 1);
  --color_claro: rgba(173, 173, 255, 1);
  --color_blanco: rgba(220, 220, 230, 1);
}

/* ---------- Restart Style ---------- */

body{
  margin: 0;
  border: none;
  padding: 0;
}

p {
  margin: 0;
  border: none;
  padding: 0;
}
