/* ---------- CSS GLOBAL Variables ---------- */

:root{
  /* Vars of Colors */
  --color_base: rgb(102, 102, 255);
  --color_oscuro: rgba(0, 0, 102, 1);
  --color_claro: rgba(173, 173, 255, 1);
  --color_blanco: rgb(240, 240, 240);

  /* Others Vars */
  --velocidad_transition: all 500ms ease;
}

/* ---------- Restart Style ---------- */

body{margin: 0;padding: 0;}
p {margin: 0;padding: 0;}
address {margin: 0;padding: 0;font-style: normal;}
h1{margin: 0;font-weight: normal;}
ul{margin:0;padding: 0;}
a{text-decoration: none;}