<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    {{#if showStyleFooter}}
      <link rel="stylesheet" href="/css/footer.css" />
    {{/if}}
</head>
<body style="margin: 0;">
    {{{ body }}}
</body>
</html>
