<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <!-- Defalut Styles -->
    <link rel="stylesheet" href="/obj_plantilla/styleColegio.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/header.css" />\
    <!-- Styles -->
    </head>
<body>
    {{{ body }}}
</body>
</html>
