<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    {{#if showStyleNav}}
      <link rel="stlesheet" href="/css/nav.css" />
    {{/if}}
</head>
<body>
    {{{ body }}}
</body>
</html>
